<!-- Main -->
<div id="intro" class="container">
  <div class="row">
    {% for project in site.projects %}
    {% if project.featured %}
    <section class="4u 12u(mobile)">
      <span class="number"><img src="{{ project.image }}" alt="{{ project.title }}" /></span>
      <header>
        <a href="{{project.url}}"><h2>{{ project.title }}</h2></a>
      </header>
      <p>{{ project.short_description }}</p>
      <p>{{ project.long_description }}</p>
    </section>
    {% endif %}
    {% endfor %}
  </div>
</div>
