<!-- Footer Wrapper -->
  <div id="footer-wrapper">

    <!-- Footer -->
      <div id="footer" class="container">
        <ul class="contact">
          <li><a href="#" class="icon fa-instagram"><span>Instagram</span></a></li>
          <li><a href="#" class="icon fa-facebook"><span>Facebook</span></a></li>
          <li><a href="#" class="icon fa-twitter"><span>Twitter</span></a></li>
          <li><a href="#" class="icon fa-linkedin"><span>LinkedIn</span></a></li>
        </ul>
      </div>

    <!-- Copyright -->
      <div id="copyright" class="container">
        &copy; {{ site.title }}. All rights reserved.
      </div>

  </div

<!-- Scripts -->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery.dropotron.min.js"></script>
  <script src="/js/skel.min.js"></script>
  <script src="/js/skel-viewport.min.js"></script>
  <script src="/js/util.js"></script>
  <!--[if lte IE 8]><script src="/js/ie/respond.min.js"></script><![endif]-->
  <script src="/js/main.js"></script>
