<!-- Main -->
<div id="intro" class="container">
  <div class="row">
    <section class="4u 12u(mobile)">
      <span class="number">01</span>
      <header>
        <h2>nisl sed adipiscing</h2>
      </header>
      <p>Aenean vel justo nulla, at gravida elit. In hac habitasse platea dictumst. Quisque gravida commodo volutpat. Vivamus blandit risus in urna venenatis accumsan. Pellentesque habitant morbi.</p>
    </section>
    <section class="4u 12u(mobile)">
      <span class="number">02</span>
      <header>
        <h2>nisl sed adipiscing</h2>
      </header>
      <p>Aenean vel justo nulla, at gravida elit. In hac habitasse platea dictumst. Quisque gravida commodo volutpat. Vivamus blandit risus in urna venenatis accumsan. Pellentesque habitant morbi.</p>
    </section>
    <section class="4u 12u(mobile)">
      <span class="number">03</span>
      <header>
        <h2>nisl sed adipiscing</h2>
      </header>
      <p>Aenean vel justo nulla, at gravida elit. In hac habitasse platea dictumst. Quisque gravida commodo volutpat. Vivamus blandit risus in urna venenatis accumsan. Pellentesque habitant morbi.</p>
    </section>
  </div>
  <div class="actions">
    <a href="#" class="button button-big">Get Started</a>
    <a href="#" class="button button-big button-alt">Learn More</a>
  </div>
</div>
